In [5]:
from zipfile import ZipFile
import pandas as pd
# with ZipFile('./Cavitation/cavidation_sample.zip', 'r') as zipObj:
#    # Extract all the contents of zip file in different directory
#    zipObj.extractall('./Cavitation/sampleData')
#    print('File is unzipped in temp folder')

In [6]:
DATADIR = './Cavitation/sampleData/sample/'

In [7]:
#data_path = SAMPLE_DIR
def SamplePreparation(data_path):
    import glob
    # Wczytanie pojedynczego pliku
    def file_to_dataframe(file):
        df = pd.read_csv(file, delimiter = '|', skiprows=3)

        # Standaryzacja plików
        if len(df.columns[5].split(':')) <= 4:
            df = pd.read_csv(file, delimiter = '|', skiprows=5)

        #Utworzenie nazw kolumn do pracy
        df.columns = ['uncompiledData','operationType','date','time','empty','value','quality']

        # OperationType chyba jest nieistotne, więc usuwam. Ale sprzawdz czy na pewno to operationtype i czy mozna
        df.drop(columns = ['operationType'], inplace = True)
        # to samo z empty
        df.drop(columns = ['empty'], inplace = True)

        # Przygotowanie danych
        df["section"] = df['uncompiledData'].str[:2]
        df["section"] = df["section"].astype('category')
        df["dataType"] = df['uncompiledData'].str[2]
        df["dataType"] = df["dataType"].astype('category')
        df["machineType"] = df['uncompiledData'].str[7:12]
        df["machineType"] = df["machineType"].astype('category')
        df["machineId"] = df['uncompiledData'].str[12:16]
        df["machineId"] = df["machineId"].astype('category')
        df["section2"] = df['uncompiledData'].str[16]
        df["section2"] = df["section2"].astype('category')

        # Jeśli otrzymujemy dane, to rozbijamy je na parametr i jednostkę
        df.loc[df["dataType"] == "D", 'parameter'] = df['uncompiledData'].str[17:28]
        df["parameter"] = df["parameter"].astype('category')
        df.loc[df["dataType"] == "D", 'varType'] = df['uncompiledData'].str[28]
        df["varType"] = df["varType"].astype('category')
        df.loc[df["dataType"] == "D", 'unit'] = df['uncompiledData'].str[29:]
        df["unit"] = df["unit"].astype('category')
        # Jeśli błąd:
        df.loc[df["dataType"] == "E", 'error'] = df['uncompiledData'].str[18:-4]

        df.drop(columns = ['uncompiledData'], inplace = True)

        df["datetime"] = df["date"]+" "+df["time"]
        df.drop(columns = ['date'], inplace = True)
        df.drop(columns = ['time'], inplace = True)
        df["datetime"] = pd.to_datetime(df["datetime"].str[:-4], format='%Y-%m-%d %H:%M:%S')


        ##df["machineId"].astype('category')
        return df[df['quality']==192]

    def load_all_files(path = data_path):
        # Wczytuję wszystkie pliki z danymi
        all_files = glob.glob(path + "/*.csv")
        all_files.sort(reverse=True)

        li = []

        for filename in all_files:
            df = file_to_dataframe(filename)
            li.append(df)
        return pd.concat(li, axis=0, ignore_index=True)

    df = load_all_files()
    df["dataType"] = df["dataType"].astype('category')
    df["parameter"] = df["parameter"].astype('category')
    df["unit"] = df["unit"].astype('category')
    df = df[df['dataType']=='D']
    df.info(memory_usage="deep")
    df.set_index(['machineId', 'parameter','datetime']).sort_index().head(50)
    return df

In [8]:
df = SamplePreparation(DATADIR)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13758180 entries, 0 to 13773181
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   value        float64
 1   quality      int64
 2   section      category
 3   dataType     category
 4   machineType  category
 5   machineId    category
 6   section2     category
 7   parameter    category
 8   varType      category
 9   unit         category
 10  error        object
 11  datetime     datetime64[ns]
dtypes: category(8), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 944.7 MB

In [9]:
df.to_parquet('cavitest.parquet.gzip',
              compression='gzip')

In [2]:
df = pd.read_parquet('cavitest.parquet.gzip')

In [10]:
CaviColumns=[
'ENGRPM_____',
'ENGOILT____',
'ENGOILP____',
'TRNAUT_____'   
]

In [11]:
df

,value,quality,section,dataType,machineType,machineId,section2,parameter,varType,unit,error,datetime
0,0.00,192,KL,D,WOS__,_177,L,GROILP_____,A,kPa,NaN,2021-02-24 19:45:51
1,16.00,192,KL,D,WOS__,_177,L,GROILT_____,A,__C,NaN,2021-02-24 19:45:51
2,9700.00,192,KL,D,WOS__,_177,L,BREAKP_____,A,kPa,NaN,2021-02-24 19:45:51
3,0.00,192,KL,D,WOS__,_177,L,ENGTPS_____,A,__%,NaN,2021-02-24 19:45:51
4,0.00,192,KL,D,WOS__,_177,L,TRNBPS_____,A,__%,NaN,2021-02-24 19:45:51
...,...,...,...,...,...,...,...,...,...,...,...,...
13773177,0.00,192,KL,D,WOS__,_177,L,BREAKP_____,A,kPa,NaN,2020-02-01 07:59:59
13773178,0.00,192,KL,D,WOS__,_177,L,ENGTPS_____,A,__%,NaN,2020-02-01 07:59:59
13773179,0.00,192,KL,D,WOS__,_177,L,TRNAUT_____,D,___,NaN,2020-02-01 07:59:59
13773180,0.00,192,KL,D,WOS__,_177,L,TRNBPS_____,A,__%,NaN,2020-02-01 07:59:59
13773181,0.03,192,KL,D,WOS__,_177,L,HYDOILP____,A,MPa,NaN,2020-02-01 07:59:59

In [12]:
# Get Cavitation hypothesis data
cavi_df = df.copy()
cavi_df = df[df['parameter'].isin(CaviColumns)].reset_index()

In [13]:
start_date = '2021-02-20 00:00:01'
end_date = '2021-02-20 23:59:59'
mask = (cavi_df['datetime'] > start_date) & (cavi_df['datetime'] <= end_date)
print(mask.value_counts())

cavi_df_failure = cavi_df.loc[mask]

False    2550740
True       20679
Name: datetime, dtype: int64

In [14]:
cavi_df_ok = cavi_df.loc[~mask]

In [15]:
def hypothesis_test(df,columns,failure_start_date,failure_end_date):
    cavi_df = df[df['parameter'].isin(columns)].reset_index()
    start_date = '2021-02-20 00:00:01'
    end_date = '2021-02-20 23:59:59'
    mask = (cavi_df['datetime'] > start_date) & (cavi_df['datetime'] <= end_date)
    print(mask.value_counts())
    
    #Event 1 = failure
    #Event 0 = OK
    cavi_df_failure = cavi_df.loc[mask]
    cavi_df_failure['Event'] = 1
    cavi_df_ok = cavi_df.loc[~mask]
    cavi_df_ok['Event'] = 0
    return cavi_df_ok,cavi_df_failure

In [16]:
ok_df, ng_df = hypothesis_test(cavi_df,CaviColumns,start_date,end_date)
COLS_TO_KEEP=['parameter','value','Event','datetime']

False    2550740
True       20679
Name: datetime, dtype: int64

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [17]:
all_df = pd.concat([ok_df.sample(2000), ng_df.sample(2000)], axis=0)

In [18]:
to_analysis = all_df[COLS_TO_KEEP]

In [19]:
import plotly.express as px
import plotly.offline as pyo 

manual = all_df.loc[(all_df['value']==0) & (all_df['parameter']== 'TRNAUT_____')]
manual['geartype'] =0
automatic = all_df.loc[(all_df['value']==1) & (all_df['parameter']== 'TRNAUT_____')]
automatic['geartype'] =1
final_df = pd.concat([manual,automatic],axis=0)

fig = px.box(final_df, x="parameter", y="value", color="Event",facet_row='geartype', notched=True)
pyo.plot(fig,filename='Cavitest.html')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'Cavitest.html'

In [26]:
dt=to_analysis.set_index('datetime')

import plotly.express as px

fig = px.scatter(to_analysis, x='datetime', y="value",facet_row='parameter',color='Event')
fig.show()

TypeError: scatter() got an unexpected keyword argument 'share_y'

In [48]:
to_analysis

                       parameter   value  Event
datetime
2021-02-16 20:40:49  ENGRPM_____  1319.0      0
2021-02-15 19:42:10  ENGRPM_____   749.0      0
2021-02-10 09:27:46  TRNAUT_____     0.0      0
2020-06-01 12:33:55  ENGRPM_____  2214.0      0
2020-10-01 22:54:10  TRNAUT_____     0.0      0
...                          ...     ...    ...
2021-02-20 00:27:34  ENGRPM_____   878.0      1
2021-02-20 00:07:38  TRNAUT_____     0.0      1
2021-02-20 01:55:22  ENGRPM_____   748.0      1
2021-02-20 01:03:49  ENGOILP____   372.0      1
2021-02-20 00:34:20  TRNAUT_____     0.0      1

[4000 rows x 3 columns]